{% extends 'base.html' %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <label id='inserts' for="id_nome">Vacina</label>
            <input class="form-control" type="text" name="nome" id="id_nome" maxlength="50" placeholder="Nome de Identificação" {% if vacina %}value="{{ vacina.nome }}"{% endif %}>
        </div>
        <div class="col">
            <label id='inserts' for="id_nome">Fabricação</label>
            <input class="form-control" type="text" name="fabricante" id="id_fab" maxlength="50" placeholder="Fabricante da Vacina" {% if vacina %}value="{{ vacina.fabricante }}"{% endif %}>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <label id='inserts' for="id_nome">Descrição</label>
            <textarea class="form-control" name="descricao" id="id_desc" placeholder="Efeito da Vacina" {% if vacina %}{% endif %}>
            {{ vacina.descricao }}
            </textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <button id='save2' class="btn btn-success" type="submit">Salvar</button>
            <a id="save2" href="{% url 'vacina_index' %}" class="btn btn-danger">Cancelar</a>
        </div>
    </div>
</form>
{% endblock %}