{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col">
        <h2 id='central-text' class="text-center">Lista de Vacinas</h2>
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <a class="btn btn-primary" href="{% url 'vacina_create' %}">Cadastrar Vacina <i class="fas fa-plus"></i></a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <table class="table table-bordered text-center">
            <thead class="table-primary">
                <th>VACINA</th>
                <th>FABRICANTE</th>
                <th>DESCRIÇÃO</th>
                <th>OPERAÇÕES</th>
            </thead>
            <tbody>
                {% for vacina in lista_vacinas %}
                <tr>
                    <td>
                        {{ vacina.nome }}
                    </td>
                    <td>
                        {{ vacina.fabricante }}
                    </td>
                    <td>
                        {{ vacina.descricao }}
                    </td>
                    <td>
                        <form action="vacina/delete/{{vacina.id}}" method="POST">
                            {% csrf_token %}
                            <div class="modal fade" id="exampleModal{{vacina.id}}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            Deseja mesmo deletar o cadastro de {{vacina.nome}}?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-bs-dismiss="modal">Não</button>
                                            <button type="submit" class="btn btn-danger">Sim</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'vacina_update' vacina.id %}" class="btn" style="margin: 0; padding: 0" title="Editar {{vacina.nome}}"><i
                                        class="fas fa-user-edit"></i></a>&nbsp&nbsp
                            <button type="button" class="btn" style="margin: 0; padding: 0" data-bs-toggle="modal"
                                data-bs-target="#exampleModal{{vacina.id}}" title="Excluir {{vacina.nome}}">
                                <i class="fas fa-minus-circle"></i>
                            </button>
                            </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}