{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center" style="text-align: center;">
    <div class="col">
        <h2 id=central-text> Vacinas de {{ crianca.nome }} </h2>
    </div>
</div>
<form method="POST">
    {% csrf_token %}
    <select name="crianca" required id="id_crianca" hidden>
        <option value="{{crianca.id}}"></option>
    </select>
    <div class="row">
        <div class="col form-group">
            <label id='inserts' for="id_vacina" class="">Vacina</label>
            <select name="vacina" class="form-control" title required id="id_vacina">
                <option value="" selected>Selecione uma Vacina</option>
                {% for vacina in vacinas %}
                <option value="{{vacina.id}}">{{ vacina }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col form-group">
            <label id='inserts' for="id_lote">Lote</label>
            <input type="text" name="lote" maxlength="20" class="form-control" placeholder="Lote" title required
                id="id_lote">
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <label id='inserts' for="id_enfermeiro">Enfermeiro(a)</label>
            <input type="text" name="enfermeiro" maxlength="50" class="form-control" placeholder="Enfermeiro(a)" title
                required id="id_enfermeiro">
        </div>
        <div class="col form-group">
            <label id='inserts' for="id_data">Data</label>
            <input type="date" name="data" class="form-control" placeholder="Data" title required id="id_data">
        </div>
    </div>
    <button id='button' class="btn btn-success" type="submit">Registrar</button>
    <button id='button' class="btn btn-danger" type="reset">Cancelar</button>
</form>
<hr>
<div class="row">
    <div class="col">
        <table class="table table-bordered text-center">
            <thead>
                <th id='table-top'>VACINA</th>
                <th id='table-top'>LOTE</th>
                <th id='table-top'>DATA DA APLICAÇÃO</th>
                <th id='table-top'>APLICADOR(A)</th>
                <th id='table-top'>DELETAR</th>
            </thead>
            <tbody>
                {% for v in lista_vacinacao %}
                <form action="delete/{{v.id}}" method="POST">
                    {% csrf_token %}
                    <div class="modal fade" id="exampleModal{{v.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Deseja mesmo deletar a vacinação de {{v.vacina.nome}} aplicada em
                                    {{v.data}}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Não</button>
                                    <button type="submit" class="btn btn-danger">Sim</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <tr>
                    <td>{{ v.vacina.nome }}</td>
                    <td>{{ v.lote }}</td>
                    <td>{{ v.data }}</td>
                    <td>{{ v.enfermeiro }}</td>
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{v.id}}">
                            <i class="fas fa-minus-circle"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% if paginator.has_next or paginator.has_previous %}
<div class="row text-center">
    <div class="col">
        <span class="step-links">
            {% if paginator.has_previous %}
            <a href="?page=1" class="btn-sm btn-secondary">&laquo; Primeira</a>
            <a href="?page={{ paginator.previous_page_number }}" class="btn-sm btn-light">Anterior</a>
            {% endif %}
            <span class="current">
                Página {{ paginator.number }} de {{ paginator.paginator.num_pages }}.
            </span>
            {% if paginator.has_next %}
            <a href="?page={{ paginator.next_page_number }}" class="btn-sm btn-light">Próxima</a>
            <a href="?page={{ paginator.paginator.num_pages }}" class="btn-sm btn-secondary">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endif %}
{% endblock %}
