{% extends 'base.html' %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <h2 id='central-text' class="text-center">Cadastrar Criança</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="id_nome">Nome</label>
            <input class="form-control" type="text" name="nome" id="id_nome" maxlength="50" placeholder="Nome Completo" {% if crianca %}value="{{ crianca.nome }}"{% endif %}>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="id_nome">CPF</label>
            <input class="form-control" type="text" name="cpf" id="id_cpf" maxlength="14" oninput="mascaraCPF(this.id)" {% if crianca %}value="{{ crianca.cpf }}"{% endif %}>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <button id='save' class="btn btn-success" type="submit">Salvar</button>
            <a id='save' href="{% url 'index' %}" class="btn btn-danger">Cancelar</a>
        </div>
    </div>
</form>
{% endblock %}
