{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <h2 class="text-center">Lista de Crianças</h2>
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <a class="btn btn-primary" href="{% url 'crianca_create' %}">Cadastrar Criança <i class="fas fa-plus"></i></a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <table class="table table-bordered text-center">
            <thead>
                <th>NOME</th>
                <th>CPF</th>
                <th>operações</th>
            </thead>
            <tbody>
                {% for crianca in lista_criancas %}
                <tr>
                    <td>
                        {{ crianca.nome }}
                    </td>
                    <td>
                        {{ crianca.cpf }}
                    </td>
                    <td>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}