{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col">
        <h2 id='central-text' class="text-center">Lista de Crianças</h2>
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <a class="btn btn-primary" href="{% url 'crianca_create' %}">Cadastrar Criança <i class="fas fa-plus"></i></a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <table class="table table-bordered text-center">
            <thead>
                <th id='table-top'>NOME</th>
                <th id='table-top'>CPF</th>
                <th id='table-top'>OPERAÇÕES</th>
            </thead>
            <tbody>
                {% for crianca in lista_criancas %}
                <tr>
                    <td>
                        {{ crianca.nome }}
                    </td>
                    <td>
                        {{ crianca.cpf }}
                    </td>
                    <td>
                        <a href="vacinacao/+{{ crianca.id }}"><img id='button' src="{% static 'images/new.png' %}" alt='' width="25"></a>&nbsp&nbsp
                        <a href="detail/+{{ crianca.id }}"><img id='button' src="{% static 'images/edit.png' %}" alt='' width="25"></a>&nbsp&nbsp
                        <a href="delete/+{{ crianca.id }}"><img id='button' src="{% static 'images/delete.png' %}" alt='' width="25"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
