{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Inicial</title>
</head>
<body>
    <h1 id='topo' style="text-align: center">LISTA DE CRIANÇAS</h1>
    <nav id='menu'>
        <ul>
            <li><a href="crianca" ><b>NOVA CRIANÇA</b></a></li>
            <li><a href="detail"><b>LISTAR VACINAS</b></a></li>
        </ul>
    </nav>
    <table>
        <td>CPF</td><td>NOME</td><td>OPERAÇÕES</td>
        {% for crianca in obj %}
            <tr><td>{{ crianca }}<br></td></tr>
        {% endfor %}
    </table>
</body>
</html>
